 @import "tailwindcss";

@theme {
  --color-brand-blue: #094567;
  --color-brand-violet: #7c3aed;
  --color-brand-black: #231f20;
}

/* Hide scrollbar globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
